:root {
  --header-color: #ffffff;
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --first-btn-color: #ffffff;
  --second-btn-color: #303030;
  --accent-color: #ff6c00;
  --typical-mb: 20px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: "Open Sans", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.pre-title {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.91;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .pre-title {
    line-height: 1.36;
  }
}
.pre-title::before {
  content: "";
  width: 63px;
  height: 1px;
  background: currentColor;
  margin-right: 21px;
  flex-shrink: 0;
}
.pre-title--light {
  color: rgba(157, 164, 189, 0.6);
}
.pre-title--dark {
  color: #303030;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
}

.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  min-width: 160px;
  height: 40px;
  transition: background-color 300ms linear, color 300ms linear;
}
.btn:hover {
  background-color: var(--accent-color);
  color: var(--first-btn-color);
}
.btn--light {
  color: var(--first-btn-color);
}
.btn--dark {
  color: var(--second-btn-color);
}

.card-list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .card-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.card-list__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .card-list__item {
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .card-list__item {
    flex-basis: calc(33.3333333333% - 30px);
  }
}

.card-list__top-wrap {
  position: relative;
  overflow: hidden;
}

.card-list__top-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  background-color: rgba(255, 106, 0, 0.477);
  font-size: 18px;
  line-height: 1.5;
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
}
.card-list__item:hover .card-list__top-text {
  transform: translateY(0);
}

.card-list__title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.card-list__item-wrap {
  padding-top: 30px;
}

.card-list__item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3888888889;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.card-list__item-text {
  font-size: 14px;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-bottom: 30px;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item + .socials__item {
  margin-left: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.socials__link:hover, .socials__link:focus {
  background-color: tomato;
  color: teal;
}

.socials__icon {
  fill: currentColor;
}

/* .masters-soc-link:hover, .masters-soc-link:focus {
  background-color: tomato;
}

.masters-soc-link:hover .masters-soc-icon, .masters-soc-link:focus .masters-soc-icon {
  fill: teal;
} */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 26, 36, 0.364);
  transition: opacity 200ms linear, visibility 200ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 500px;
  min-height: 600px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: transform 300ms linear;
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-180deg);
}

.modal__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #999999;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__title {
  font-size: 18px;
  font-weight: 600;
  color: #303030;
  text-align: center;
  margin-bottom: 15px;
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-field__wrap {
  position: relative;
}

.modal-field__input {
  width: 100%;
  height: 45px;
  border: 1px solid #999999;
  border-radius: 5px;
  outline: none;
  color: purple;
  font-size: 14px;
  padding-left: 30px;
}
.modal-field__input:focus {
  border-color: var(--accent-color);
}
.modal-field__input::placeholder {
  color: teal;
  font-size: 13px;
}
.modal-field__input:not(:placeholder-shown):not(:focus):valid {
  background-color: rgba(157, 189, 163, 0.3098039216);
}
.modal-field__input:not(:placeholder-shown):not(:focus):invalid {
  background-color: rgba(230, 53, 26, 0.3098039216);
}

.modal-field__input:focus + .modal-field__icon {
  fill: var(--accent-color);
}

.modal-field__icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-field__input:focus + .modal-field__icon {
  fill: var(--accent-color);
}

.modal-field__label,
.text-field__label {
  font-size: 12px;
  color: #555555;
  margin-bottom: 5px;
  display: block;
}

.modal-comment {
  height: 100px;
  width: 100%;
  border: 1px solid #999999;
  border-radius: 5px;
  resize: none;
}

.check-text {
  font-size: 14px;
  color: #81838b;
  display: flex;
  align-items: center;
  position: relative;
}
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 2px;
  display: block;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.check-icon {
  fill: transparent;
}
.modal-check:checked + .check-text .check-icon {
  fill: #ffffff;
}

/* ////////////////////////////////// */
/* .check-text::before {
  content: "";
  width: 24px;
  height: 24px;
  border: 1px solid #9da4bd;
  border-radius: 50px;
  margin-right: 10px;
  transition: background-color 300ms ease;
}

.check-text::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 24px;
  background-color: #5c5d62;
  border-radius: 50px;
  transform: rotate(-45deg);
  transform-origin: bottom;
  left: 10px;
  top: -9px;
  transition: transform 300ms ease;
}

.modal-check:checked + .check-text::after {
  transform: rotate(45deg);
}

.modal-check:checked + .check-text::before {
  background-color: #a0deab;
} */
/* ///////////////slider/////////////////// */
/* .check-text::before {
  content: "";
  width: 40px;
  height: 22px;
  border: 1px solid #9da4bd;
  border-radius: 50px;
  margin-right: 10px;
  transition: background-color 300ms ease;
}

.check-text::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #9da4bd5e;
  border-radius: 50%;
  left: 2px;
  top: 2px;
  transition: transform 300ms ease, background-color 300ms ease;
}

.modal-check:checked + .check-text::after {
  transform: translate(18px);
  background-color: #ffffff;
}

.modal-check:checked + .check-text::before {
  background-color: #a0deab;
} */
/* ////////////////sprite////////////////// */
/* ////////////////before////////////////// */
/* .check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 2px;
  display: block;
  margin-right: 5px;
}

.modal-check:checked + .check-text::before {
  background-color: var(--accent-color);
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
} */
.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 70px;
}

.logo__icon {
  fill: #303030;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__item:not(:last-child) {
  margin-right: 40px;
}

.navigation__link,
.connect__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: color 300ms linear;
}
.navigation__link:hover, .navigation__link:active,
.connect__tel:hover,
.connect__tel:active {
  color: var(--accent-color);
}

/* .header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
} */
.connect__btn {
  margin-left: 40px;
}

.header__connect {
  margin-left: auto;
}

.hero .container {
  display: flex;
}

.soc {
  width: 90px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 32px;
  padding-left: 24px;
}

.soc__list {
  display: flex;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  align-items: center;
}
.soc__list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 40px;
}

.soc__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
.soc__link:hover, .soc__link:focus {
  color: var(--accent-color);
}

.soc__item + .soc__item {
  margin-left: 40px;
}

.hero-content {
  background-color: #303030;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 272px 0 206px 96px;
  flex-grow: 1;
}

.hero-content__pre-title {
  margin-bottom: var(--typical-mb);
}

.hero-content__title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.1805555556;
  letter-spacing: 0.05em;
  color: var(--first-title-color);
  margin-bottom: var(--typical-mb);
  display: flex;
  align-items: baseline;
}
.hero-content__title::before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  margin-right: 10px;
}
.hero-content__title::after {
  content: "!";
}

.hero-content__after-title {
  color: #9da4bd;
  max-width: 400px;
}

.about {
  padding-top: 140px;
  padding-bottom: 121px;
}
.about .container {
  display: flex;
}

.pic-list__item + .pic-list__item {
  margin-left: 30px;
}

.pic-list {
  display: flex;
  flex-shrink: 0;
}

.about__list {
  margin-right: 64px;
}

.about-content__pre-title {
  margin-bottom: var(--typical-mb);
}

.about-content__title {
  color: #303030;
  margin-bottom: var(--typical-mb);
}

.about-content__after-title {
  color: #555555;
  margin-bottom: var(--typical-mb);
}

.about-content__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.prices {
  background-color: #303030;
  padding-top: 130px;
  padding-bottom: 130px;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-mb);
}

.prices-title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  margin-bottom: 50px;
}

.prices-list {
  flex-grow: 1;
  padding: 30px 40px;
}
.prices-list:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices-list:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-item {
  margin-bottom: var(--typical-mb);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.prices-item::after {
  content: "";
  width: 100px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
  margin-left: 6px;
  margin-right: 6px;
}
.prices-item:last-child {
  margin-bottom: 0;
}

.prices-item-text {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1.84;
  color: #9da4bd;
}
.prices-item-text:last-child {
  order: 1;
}

.prices-btn {
  color: var(--first-btn-color);
  display: block;
  margin: 0 auto;
}

.reasons {
  padding-top: 114px;
  padding-bottom: 137px;
}

.reasons-list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
}

.reasons-item {
  width: 170px;
  height: 133px;
  border: 1px solid #303030;
  padding: 20px 24px;
}
.reasons-item:nth-child(odd) {
  margin-right: 30px;
}
.reasons-item:nth-child(even) {
  margin-top: 30px;
}

.reasons-item-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 6px;
  color: #303030;
}

.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.reasons-pre-title {
  color: #303030;
  margin-bottom: var(--typical-mb);
}

.reasons-title {
  color: #303030;
  margin-bottom: var(--typical-mb);
}

.reasons-after-title {
  color: #555555;
}

.masters {
  background-color: #f7f7f7;
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .masters {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .masters {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.masters__pre-title {
  color: #303030;
  margin-bottom: var(--typical-mb);
}

.masters__title {
  margin-bottom: 44px;
}

.gallery {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.gallery-pre-title {
  color: #303030;
  margin-bottom: 44px;
}

.gallery-list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.gallery-item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .gallery-item {
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-item {
    flex-basis: calc(25% - 30px);
  }
}

.contact-wrap {
  background-color: #303030;
}
.contact-wrap .container {
  display: flex;
}

.online {
  padding-top: 130px;
  padding-bottom: 130px;
  width: calc(50% + 15px);
}

.online-title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.online-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.online-input {
  width: 265px;
  height: 24px;
  margin-bottom: 44px;
}

.online-frame {
  background-color: transparent;
  padding-bottom: 8px;
  color: #ffffff;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  transition: border-color 300ms linear;
}
.online-frame::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  transition: color 300ms linear;
}
.online-frame:focus {
  border-color: #ffffff;
}
.online-frame:focus::placeholder {
  color: #ffffff;
}

.online-mess {
  width: 100%;
  height: 76px;
  margin-bottom: 44px;
  resize: none;
}

.online-btn {
  color: #ffffff;
}

.contacts {
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 100px;
}

.contacts-title {
  color: var(--first-title-color);
  margin-bottom: 40px;
}

.contacts-address {
  font-style: normal;
}

.contacts-list {
  margin-bottom: 70px;
}

.contacts-item {
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-time-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: var(--typical-mb);
}

.contacts-time-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer {
  padding-top: 57px;
  padding-bottom: 55px;
}

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}/*# sourceMappingURL=main.css.map */