.masters {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #f7f7f7;
}
.masters__pre-title {
  color: #303030;
  margin-bottom: var(--typical-mb);
}

.masters__title {
  margin-bottom: 44px;
}
