.prices {
  background-color: #303030;
  padding-top: 130px;
  padding-bottom: 130px;
}
.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-mb);
}

.prices-title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  margin-bottom: 50px;
}

.prices-list {
  flex-grow: 1;
  padding: 30px 40px;
  &:first-child {
    background-image: linear-gradient(
      180deg,
      #171a24 0%,
      rgba(23, 26, 36, 0.2) 100%
    );
  }
  &:last-child {
    background-image: linear-gradient(
      180deg,
      #090b13 0%,
      rgba(9, 11, 19, 0.2) 100%
    );
  }
}

.prices-item {
  margin-bottom: var(--typical-mb);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  &::after {
    content: '';
    width: 100px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);
    flex-grow: 1;
    margin-left: 6px;
    margin-right: 6px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.prices-item-text {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1.84;
  color: #9da4bd;
  &:last-child {
    order: 1;
  }
}

.prices-btn {
  color: var(--first-btn-color);
  display: block;
  margin: 0 auto;
}
